*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  display: flex;
  flex-direction: column;
}

.header-container{
  width: 100%;
  height: 100px;
  background-color: black;
}

.header-container h1{
  color: #fff;
  padding: 25px;
}

.header-container span{
  font-family: 'Dancing Script';
}

#container-product{
margin-top: 100px;
}