*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 44px;
}
body{
  display: flex;
  flex-direction: column;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: black;
}

.header-container h1{
  color: #fff;
  padding: 25px;
  font-size: 0.6em;
}

.header-container span{
  font-size: 2em;
  font-family: 'Dancing Script';
}

.header-container button {
  width: 170px;
  font-size: 0.6em;
  border: none;
  background-color: #000;
  color: #fff;
}

.header-container button:hover{
  color: #a09797;
  cursor: pointer;
}

.buttonCarImg img{
  width: 28px;
}

#container-product{
  width: 700px;
  height: 500px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin: 0 auto;
}

#card-product{
  width: 300px;
  height: 400px;
  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  border-radius: 10px;
  padding: 10px;
  background-color: #e6e3e3;
}

#card-product p{
  font-size: 0.4em;
  margin-top: 5px;
}

#card-product img{
  margin-top: 20px;
  width: 150px;
  height: 200px;
}

#card-product button{
  width: 170px;
  font-size: 0.5em;
  padding: 8px;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
}

#card-product button:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#cart-container{
  position: fixed;
  width: 500px;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 70%;
  color: #fff;
}

 .cart-header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cart-header h1{
  font-size: 0.8em;
}

.cart-header button{
  font-size: 0.8em;
  width: 40px;
  border-radius: 10px;
}

#cart-container p{
  font-size: 0.6em;
  font-weight: 700;
  margin-left: 20px;
}

.completed-purchase{ 
  width: 220px;
  height: 50px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 24px;
  font-size: 0.6em;

  background-color: #a09797;
}

.completed-purchase:hover{
  background-color: #e6e3e3;
  cursor: pointer;

}


